@media ( min-width: 565px )

	// reused style
	.container
		max-width: 540px
		width: 100%
		margin-inline: auto

	// header
	.navbar
		padding-inline: 40px
		padding-block-start: 40px

	// hero
	.hero-text
		max-width: 42ch
	.hero
		.wrapper
			display: flex
			align-items: center
			gap: 30px
		.btn
			margin-block-end: 0

	// service
	.service
		.container
			grid-template-columns: repeat(2, 1fr)
			align-items: flex-start
		&-card
			height: 100%

	// destination
	.desti-list
		grid-template-columns: repeat(2, 1fr)
		
	//footer
	.footer-bottom-list
		display: flex
		gap: 30px

@media ( min-width: 768px )

	// custom property
	:root

		//font size
		--fontSize-1: 4.8rem
		--fontSize-2: 4rem
		--fontSize-3: 2.8rem
		--fontSize-4: 2.6rem
		--fontSize-5: 2.2rem
		--fontSize-6: 1.8rem
		--fontSize-7: 1.6rem

		// spacing
		--section-spacing: 120px


	// reused style
	.container
		max-width: 720px
	.btn
		height: 60px
		padding-inline: 40px
	:is(.desti, .gallery) :is(.section-subtitle, .section-title)
		text-align: center

	// preloader
	.preloader
		.img
			width: 80px

	// hero
	.hero
		padding-block-start: 180px
		&-subtitle
			--fontSize-7: 1.8rem
			padding: 10px 30px
		&-btn
			gap: 32px
			.btn-img
				width: 80px
				height: 80px
			ion-icon
				padding: 12px
		&-banner
			max-width: 550px
			margin-inline: auto
		
	// service
	.service
		.container
			gap: 35px
		&-card
			padding: 40px 30px
			.card-title
				margin-block: 20px 10px

	// destination
	.desti
		.section-title
			margin-block-end: 65px
		&-list
			gap: 50px 35px
		&-card
			.card-title
				margin-block-start: 25px
		.btn
			margin-block-start: 60px
		
	// experience
	.exp
		.section-title
			max-width: 600px
		&-list
			display: flex
			align-items: center
			gap: 30px
		&-item
			gap: 15px
			.item-title
				font-size: 4rem
		&-banner
			max-width: 550px
			margin-inline: auto

	// gallery
	.gallery
		.section-title
			margin-block-end: 65px
		&-list
			grid-template-columns: repeat(2, 1fr)
			gap: 25px
		&-item
			&:nth-child(n + 3)
				grid-column: 1 / 3
			
	// cta
	.cta
		&-card
			padding: 80px 60px
		.btn
			margin-block-start: 30px

	// footer
	.footer-top
		grid-template-columns: repeat(2, 1fr)
	.footer-bottom
		display: flex
		justify-content: space-between
		align-items: center
	.copyright
		margin-block-end: 0

@media ( min-width: 992px )

	// reused style
	.container
		max-width: 950px

	// header
	.nav-toggle-btn,
	.navbar-top,
	.overlay
		display: none

	.navbar,
	.navbar.active
		all: unset
		display: flex
		align-items: center
		flex-grow: 1

	.navbar
		&-list
			margin-block-start: 0
			display: flex
			gap: 30px
			margin-inline: auto
		&-link
			&:is(:hover, :focus-visible, .active)
				transform: unset	
			&::before
				width: 10px
				height: 3px
				top: auto
				bottom: 0
				left: 50%
				transform: translateX(-50%)
		&-action
			border: none
			padding-block-start: 0
			gap: 30px

	.header
		&.active
			padding-block: 15px

	// hero
	.hero
		.container
			grid-template-columns: 0.8fr 1fr
			gap: 0
			align-items: center
		.wrapper
			flex-wrap: wrap
		&-banner
			max-width: unset

	// service
	.service
		.title-wrapper
			padding-block-end: 100px

	// destination
	.desti-list
		grid-template-columns: repeat(3, 1fr)

	// experience
	.exp
		.container
			grid-template-columns: repeat(2, 1fr)
			align-items: center
			gap: 80px
		&-content
			order: 1
		&-list
			flex-wrap: wrap
		&-item
			margin-block-start: 0
			flex-direction: column
			gap: 0
			align-items: flex-start

	// gallery
	.gallery
		.item-banner
			aspect-ratio: unset
			width: 100%
			height: 100%
		&-list
			grid-template-columns: repeat(6, 1fr)
		&-item
			&:nth-child(n + 3)
				grid-column: auto
			&:nth-child(3)
				grid-column: 3 / 5
				grid-row: 1 / 3
			&:nth-child(n + 4)
				grid-column: span 2

	// cta
	.cta
		.section-title
			max-width: 25ch
			margin-inline: auto
		
@media ( min-width: 1200px )

	// custom property
	:root
		//font size
		--fontSize-1: 6.4rem
		--fontSize-2: 4.8rem
		--fontSize-3: 3rem

	// reused style
	.container
		max-width: 1150px

	// header
	.header
		.logo
			img
				width: 180px
	.navbar-list
		gap: 50px
	.navbar-action
		gap: 40px

	// hero
	.hero
		&-title 
			margin-block: 30px
		&-text
			margin-block-end: 50px
		
	// service
	.service
		.container
			grid-template-columns: repeat(3, 1fr)
		.title-wrapper
			grid-column: span 3

	// destination
	.desti-card
		.card-price
			font-size: 2rem
			padding: 8px 12px
		.card-title
			margin-block: 30px 10px
		.card-rating
			margin-block-start: 15px

	// experience
	.exp 
		.section-text
			margin-block: 30px 40px
		&-list
			gap: 50px
			
	// cta
	.cta-card
		padding-block: 120px

	// footer
	.footer-top
		grid-template-columns: 1fr 0.5fr 0.6fr 0.6fr 1fr
		gap: 60px
	.footer-brand
		.footer-text
			margin-block: 35px 30px
	.footer-list-title
		margin-block-end: 25px
	.footer-bottom-list
		gap: 40px	
	
@media ( min-width: 1400px )

	// custom property
	:root
		// font size
		--fontSize-1: 7.2rem

	// reused style
	.container
		max-width: 1350px

	// header
	.navbar-list
		gap: 70px

	// service
	.service
		.section-title
			margin-block-end: 20px
		.title-wrapper
			grid-column: auto
			padding-block-end: 0
		.container
			grid-template-columns: 1fr repeat(3, 0.9fr)
			gap: 50px
		&-card:nth-child(3)
			margin-block-start: 80px

	// destination
	.desti-list
		gap: 50px

	// footer
	.footer-top
		padding-block-end: 80px
				